<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGBUFFER" class="de.tebrox.communitybot.core.logging.LogBufferAppender"/>

    <logger name="de.tebrox.communitybot" level="INFO"/>
    <logger name="net.dv8tion" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGBUFFER"/>
    </root>
</configuration>
